main .reveal-container {
  padding: 0;
}

main .reveal-wrapper {
  position: relative;
  max-width: unset;
}

main .reveal picture,
main .reveal .video-wrapper {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  object-fit: cover;
}

main .reveal .video-wrapper iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

main .reveal img,
main .reveal video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* IMG POSITIONING */
main .reveal .focus-top img,
main .reveal .focus-top video {
  object-position: 50% 20%;
}

main .reveal .focus-left img,
main .reveal .focus-left video {
  object-position: 20%;
}

main .reveal .focus-bottom img,
main .reveal .focus-bototm video {
  object-position: 50% 80%;
}

main .reveal .focus-right img,
main .reveal .focus-right video {
  object-position: 80%;
}

main .reveal .focus-top-left img,
main .reveal .focus-top-left video {
  object-position: 20% 20%;
}

main .reveal .focus-top-right img,
main .reveal .focus-top-right video {
  object-position: 80% 20%;
}

main .reveal .focus-bottom-left img,
main .reveal .focus-bottom-left video {
  object-position: 20% 80%;
}

main .reveal .focus-bottom-right img,
main .reveal .focus-bottom-right video {
  object-position: 80% 80%;
}

/* MEDIA */
main .reveal .reveal-media {
  position: sticky;
  height: 100vh;
  top: 0;
}

main .reveal .reveal-media div {
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

main .reveal .reveal-media div[data-intersecting=true] {
  opacity: 1;
}

main .reveal .reveal-media video {
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

main .reveal .reveal-media video[data-loaded] {
  opacity: 1;
}

main .reveal .reveal-media [data-orientation='landscape'] {
  display: none;
  visibility: hidden;
}

@media (min-width: 900px) {
  main .reveal .reveal-media [data-orientation='portrait'] {
    display: none;
    visibility: hidden;
  }

  main .reveal .reveal-media [data-orientation='landscape'] {
    display: unset;
    visibility: visible;
  }
}

/* COPY */
main .reveal .reveal-copy {
  position: relative;
  top: 0;
  margin-top: -100vh;
}

main .reveal .reveal-copy div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 100vh;
  position: relative;
  max-width: 600px;
  min-height: 100vh;
  margin: auto;
  padding: 100vh 32px;
}

main .reveal .reveal-copy div > * {
  margin: 0;
  padding: 32px;
  background-color: var(--color-black-75);
  color: var(--color-white);
}
